.content{
	width: 1077px;
	background-color:#fff;
}
.statement{
    padding-left:10px;
    padding-right:10px;
	padding-top:8px;
    margin-bottom:25px;
    overflow:hidden;
}
.statement .title{
	display:inline-block;
	width:100px;
}
.statement .first{
    margin-top:10px;
    margin-bottom:15px;
    clear:both;
    overflow:hidden;
}
.statement .region{
    width:350px; 
    float:left;
}
.statement input{
	border:1px solid #999
}
.statement input.error{
    border:2px solid #f00;
}

.statement input{
	width:150px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.statement input:focus{
	-webkit-box-shadow:0 0 25px #ccc;
	-moz-box-shadow:0 0 25px #ccc;
	box-shadow:0 0 25px #ccc;
	
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	transform: scale(1.05);
}

.statement #region{
    width:150px;	
}
.statement .name,
.statement .num,
.statement .address{    
   	width:350px;
    float:left;
    padding-bottom:5px;
}
.statement .starTime,
.statement .endTime{
    float:left;
    width:350px;
}
.statement .second{
    clear:both;
}
#starTime,
#endTime{
	text-align:center;
} 
/*searchContent*/
.searchContent {
    padding-left:10px;
    padding-right:10px;
}
.searchContent .condition input,
.searchContent #filter{
	border:none;
}
.searchContent .title{
    overflow:hidden;
    margin-bottom:10px;
    float:right;
}
.searchContent .title h2{
    float:left;
    padding-bottom:3px;
}
#search:hover,
.queryCondition:hover{
    cursor:pointer;
}
.searchContent .datelist{
    clear:both;
}
.searchContent .condition{
    padding-top:5px;
    margin-left:10px;
    float:left;
}
.searchContent .condition input{
	width:20px;
	height:20px;
	display:inline-block;
	vertical-align:bottom;
	margin-right:4px;
	cursor:pointer;
}
.searchContent #moreCondition{
    color:#fff;
}
.searchContent .queryCondition{
    display:inline-block;
    margin-bottom:10px;
    font-weight:bold;
}
.searchContent .content{
    clear:both;
}
.searchContent #generated_graphs{
    float:left;
    text-align:right;
}
.searchContent #generated_graphs input{
    font-size:15px;
	cursor:pointer;
    color:#fff;
    padding:5px 15px;
    border-radius:10px;
}
.searchContent #generated_graphs input.gray{
    background-color:#999;
    border-color:#999;
}
.searchContent .condition span.gray:hover,
.searchContent #generated_graphs span.gray:hover{
    cursor:text;
}
.searchContent .content input{
    width:120px;
}
.searchContent .content .packet_loss,
.searchContent .content .median_delay,
.searchContent .content .time_delay_min,
.searchContent .content .time_delay_max,
.searchContent .content .median_shake,
.searchContent .content .shake_min,
.searchContent .content .shake_max{
    margin-bottom:10px;
    width:500px;
    float:left;
}
.searchContent .content .shake{
}
#serviceTimeCount,
#jsTimeCount{
    color:#000000;
    font-weight:bold;
}
#tabs_list{
    margin-top:15px;
    display:none;
}
#create_Chart{
    display:none;
}
#tabs_list li{
    padding: 8px 5px 3px 5px;
    font-weight: bold;
    cursor: pointer;
    list-style-type: none;
    display: inline-block;
    height: 18px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color:#fff;
}
#tabs_list li.selected{
    background-color:#fff;
    color:#000;
}
#search{
    padding:5px 15px;
    margin-right:10px;
    color:#fff;
    font-size:15px;
    border-radius:10px;
    float:left;
}
#lessCondition,
#searchConditions{	
    display:none;
}
.searchContent div .title{
    display:inline-block;
    width:110px;
    float:left;
}
#searchConditions{
    overflow:hidden;
    padding:5px;
    border-radius:6px;
    width:1045px;
}
#searchConditions .one{
    border:none;
}
#searchConditions .two{
    clear:both;
}
#searchConditions input{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#searchConditions input:focus{
	-webkit-box-shadow:0 0 25px #ccc;
	-moz-box-shadow:0 0 25px #ccc;
	box-shadow:0 0 25px #ccc;
	
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	transform: scale(1.05);
}
#filter{
    color:#fff;
    padding:5px 15px;
    cursor:pointer;
    margin-right:40px;
    margin-bottom:15px;
    display:inline-block;
    width:60px;
    float:right;
}
#export{
    border:none;
    display:inline-block;
    color:#fff;
    padding:5px 15px;
    width:auto;
    margin-left: 6px;
}
#moreCondition{
    display:none;
}
#searchConditions input.error{
    border:2px solid #f00;
}
/*override jq ui tab*/
#tabs .ui-icon.ui-icon-close{
    position:absolute;
    right:0;
    cursor:pointer;
}
#tabs ul.ui-tabs-nav a{
    cursor:pointer;
}
#tabs ul.ui-tabs-nav{
    padding:0.1em 0.1em 0px;
}
#tabs ul.ui-tabs-nav .ui-tabs-anchor{
    padding:0.25em 0.8em;
    font-size:14px;
}
/*override jq ui-datepicker*/
.page .ui-datepicker{
	width:15em;
}
.page .ui-datepicker table{
	font-size:0.8em;
}